<h2>Resend confirmation instructions</h2>

<%= devise_error_messages! %>
<div class="login_container">
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  
  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.submit "Resend confirmation instructions" %></p>
<% end %>

</div>
<%= render "links" %>