<!DOCTYPE html>
<html>
<head>
  <title>DevAuthentication</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
  ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}
</style>
</head>
<body>
 <p class="notice"><%= notice %></p>
 

<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>

<body class="blue wide_screen">
	<div class="logo_heading">
		Devise Authentication
	</div>
	<%= yield %>
</body>
</html>
